<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <div class="flex bg-orange-400 justify-center">
        <div class=" bg-slate-900 w-1/6 border-r ">
            <a href="/">
                <img class="h-6 w-auto m-5"
                    src="https://logos-download.com/wp-content/uploads/2016/03/Canon_logo_black.png" alt="Your Company">
            </a>
            <hr>
            <ul class="leading-10 ">
                <li class="h-16 mt-5"><a href="/admin/">Trang chủ</a></li>
                <li class="h-16"><a href="/admin/categorylist">Quản lí danh mục</a></li>
                <li class="h-16"><a href="/admin/booklist">Quản lí sản phẩm</a></li>
                <li class="h-16"><a href="/admin/userslist">Quản lí tài khoản</a></li>
                <li class="h-16"><a href="/admin/cartAdmin">Quản lí đơn hàng</a></li>

            </ul>
        </div>
        <div class=" w-4/6  ">
            <div class="flex justify-end p-4 bg-gray-200">
                <a href="#"><img class="h-8 w-8 rounded-full border" src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/422858926_1353479315537427_18108455102997564_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_ohc=mLqa2tPaSl8Ab6gRJKw&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfCALjOioIwZ3iiv5KNWBdXfpmBvqeph2YeAyq92Y2DUVA&oe=661DA320"
                        alt=""></a>
            </div>
           