<div class="containerAbout text-center ">
    <h1 class="text-6xl md:text-6xl lg:text-6xl xl:text-6xl mt-16 mb-6 ">Khám Phá Thế Giới CAMERA</h1>
    <div class="contenrAbout md:h-96 flex justify-center items-center text-center leading-9 p-8">
        <p><strong>Canon</strong>, với sứ mệnh cung cấp giải pháp an ninh hiện đại và chất lượng, là đối tác tin cậy
            của bạn trong lĩnh vực camera an ninh và giám sát.
            Dòng sản phẩm camera của <strong>Canon</strong> được thiết kế với những đặc điểm nổi bật để đảm bảo an
            ninh và giúp bạn yên tâm hơn về sự an toàn cho gia đình,
            cửa hàng, văn phòng và doanh nghiệp của bạn. Camera <strong>Canon</strong> mang đến hình ảnh sắc nét và
            chi tiết, giúp bạn giám sát mọi sự kiện một cách rõ ràng.
            Chế độ quan sát ban đêm với chất lượng hình ảnh tốt, đảm bảo rằng bạn không bỏ lỡ bất kỳ hoạt động nào
            trong điều kiện ánh sáng yếu.
            Dễ dàng kết nối với nhiều thiết bị khác nhau, cho phép bạn quản lý từ xa thông qua điện thoại di động
            hoặc máy tính.
            Thiết kế linh hoạt và tiện ích, giúp việc lắp đặt trở nên đơn giản và thuận tiện.
        </p>
    </div>
    <div class="tong bg-gray-400 md:flex items-center justify-center h-screen text-white gap-10">
        <div class="contentImage  flex-row ">
            <img class="w-96 " src="https://www.canonwatch.com/wp-content/uploads/2019/09/EOS_M200_WH_FrontSlantLeft_EF_M15_45mm_ISSTM_675x450.png" alt="">
        </div>
        <div class="contentImage w-96  flex-row leading-7">
            <h1 class="text-2xl">Bắt Giữ Kỷ Niệm, Tạo Nghệ Thuật:</h1> <br>
            <p> Chúng ta như đang tạo ra một khoảnh khắc không thể lặp lại, bắt giữ được những khoảnh khắc đẹp và ý
                nghĩa. Ngoài ra, camera không chỉ đơn thuần là công cụ để ghi lại mà còn là nguồn đam mê và sự sáng
                tạo. Nhiếp ảnh là một nghệ thuật, và qua ống kính của camera, chúng ta có thể thấy thế giới từ góc
                độ mới, động viên tinh thần khám phá và sáng tạo. Mỗi chiếc camera đều là một nhân chứng cho sự phát
                triển của công nghệ.</p>
        </div>
    </div>

    <div class="tong md:flex items-center justify-center h-screen gap-10">
        <div class="contentImage w-96  flex-row leading-7">
            <h1 class="text-2xl">Nghệ Thuật Đằng Sau Ống Kính:</h1> <br>
            <p> Nhiếp ảnh không chỉ là việc chụp ảnh một cách đơn giản, mà còn là một nghệ thuật. Mỗi chiếc camera
                đều là một bức tranh di động, mở ra cánh cửa cho sự sáng tạo và tự do biểu đạt. Nó là công cụ để
                người nghệ sĩ thể hiện quan điểm cá nhân, ghi lại vẻ đẹp, và kể một câu chuyện thông qua hình ảnh.
            </p>
        </div>
        <div class="contentImage  flex-row ">
            <img class="w-96 " src="https://th.bing.com/th/id/OIP.FL9YGHoQUaZc3UaxN2XP7QHaEh?rs=1&pid=ImgDetMain" alt="">
        </div>
    </div>
</div>