<div>
    <h2 class="flex justify-center items-center font-bold text-4xl h-32">ĐĂNG NHẬP</h2>
    <div class="flex justify-center h-screen">
      <form action="/login" method="POST" class="w-96 leading-8">
        <label for="fullName" class="block">Tên tài khoản</label>
        <input class="border-b border-gray-300 rounded px-2 py-2 w-full" type="text" name="fullName" id="fullName"><br>
        <label for="password" class="block">Mật khẩu</label>
        <input class="border-b border-gray-300 rounded px-2 py-2 w-full" name="password" id="password" type="password"><br>
        <button type="submit" class="border bg-blue-700 text-white w-full p-2 mt-5 ">Đăng nhập</button>
        <br>
        <a href="">Bạn chưa đã có tài khoản? <strong><a href="/register">Đăng Ký</a></strong></a>
      </form>
    </div>
  </div>
  