<div>
  <h2 class="flex justify-center items-center font-bold text-4xl h-32">ĐĂNG KÝ</h2>
  <div class="flex justify-center h-screen">
    <form action="/register" method="POST" class="w-96 leading-8">
      <label for="fullName" class="block">Tên tài khoản</label>
      <input class="border-b border-gray-300 rounded px-2 py-2 w-full" type="text" name="fullName" id="fullName"><br>
      <label for="password" class="block">Mật khẩu</label>
      <input class="border-b border-gray-300 rounded px-2 py-2 w-full" name="password" id="password"
        type="password"><br>
      <label for="email" class="block">Email</label>
      <input class="border-b border-gray-300 rounded px-2 py-2 w-full" name="email" id="email" type="text"><br>
      <label for="address" class="block">Địa chỉ</label>
      <input class="border-b border-gray-300 rounded px-2 py-2 w-full" name="address" id="address" type="text"><br>
      <button type="submit" class="border bg-blue-700 text-white w-full p-2 mt-5 ">Đăng ký</button>
      <br>
      <a href="">Bạn đã có tài khoản? <strong><a href="/login"> Đăng nhập</a></strong></a>
    </form>
  </div>
</div>

